<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

</head>
<body>
    <div class="content">
        <h2><%= htmlWebpackPlugin.options.title %></h2>        
        <div id="map"></div>
        <div>Ephemeris Epoch: <span id="ephem"></span></div>
        <div>First Time Derivative of <a href="https://en.wikipedia.org/wiki/Mean_Motion" target="_blank">Mean Motion</a>: <span id="mean1"></span> orbits/day<sup>2</sup></div>
        <div>Second Time Derivative of Mean Motion: <span id="mean2"></span> orbits/day<sup>2</sup> (0 when orbit not decaying)</div>
        <div>Location Time ('now' for this demo) (GMT): <span id="selTimestamp"></span></div>
        <div>Lat: <span id="selLat"></span></div>
        <div>Lng: <span id="selLng"></span></div>
        <br/>
        <div>Altitude: <span id="alt"></span></div>
        <div>Velocity: <span id="velkms"></span> <span id="velkmh"></span> <span id="velmph"></span> </div>
    </div>
</body>
</html>
